<% include ../header %>
<div class="pure-u-1-5"></div>
<div class="pure-u-3-5">
  <div class="panel not-found-panel">
  <h2><%= code %></h2>
  <pre><%= err %>, <%= msg %></pre>
  </div>
</div>
<div class="pure-u-1-5"></div>
<% include ../footer %>
