<% locals.subtitle = 'events happening now' %>

<% include header %>
<div class="pure-u-1-1">

<div id="events">
<ul id="messages"></ul>
<span id="rawtip"></span>
</div>



<script>
  (function autoscrolls(){
    // var autoscroll = true;
    // var rawtip = document.getElementById('rawtip');
    // document.getElementById('autoscroll').addEventListener('click', function(){
    //   autoscroll = !autoscroll;
    // });

    var socket = io('http://localhost:3000/<% SLUM %>');
    socket.on('tick', function(msg){
      $('#messages').append($('<li>').text(msg.val));
      if(autoscroll) {
        rawtip.scrollIntoView(true);
      }
    });

    $('form').submit(function(){
      socket.emit('tick', 'kill');
      return false;
    });

  }())
</script>

</div>

<% include footer %>
