</div>
</div>

<script>
var msgs = <%- JSON.stringify(msgs) %>;
var queued = <%- JSON.stringify(queued) %>;
var SLUM = '<% if(locals.run) { %><%= run.SLUM %><% } %>';
var ACT = '<% if(locals.run) { %><%= run.ACT %><% } %>';
</script>

<script src='/js/spook.js'></script>

</body>
</html>
